* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.container {
    max-width: 375px;
    padding: 0 3.5rem;
}

.hero-heading1, .hero-heading2 {
    font-size: 2.4rem;
}

.hero-heading1 {
    font-weight: 200;
}

.hero-heading2 {
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.hero-heading1, .hero-heading2, .segment-heading {
    color: #4D4F62;
}

.hero-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: hsl(229, 6%, 66%);
}

.container--hero {
    margin-bottom: 7.6rem;
    margin-top: 8.5rem;
    text-align: center;
}

.supervisor, .team-builder, .karma, .calculator {
    box-shadow: 0 4px 8px 0 rgb(0,0,0,25%);
    border-radius: .5rem;
    max-width: 311px;
    margin-bottom: 2.5rem;
    padding: 2.8rem;
}

.segment-heading {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.segment-text {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.3rem;
    margin-bottom: 3.3rem;
    color: hsl(229, 6%, 66%);
}

.team-builder {
    border-top: 3px solid #EA5454; 
}

.supervisor {
    border-top: 3px solid #44D3D2;
}

.karma {
    border-top: 3px solid #FCAE4A;
}

.calculator {
    border-top: 3px solid #549EF2;
}

.segment-icon {
    margin-left: 18.5rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 2rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1024px) {
    .grid--3x4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 3rem;
        max-width: 1110px;
        margin-bottom: 3rem;
    }
    .container {
        max-width: 1110px;
        padding: 0 3.5rem;
    }
    .hero-heading1, .hero-heading2 {
        font-size: 3.6rem;
        line-height: 5.4rem;
    }
    .hero-heading2 {
        margin-bottom: 1.3rem;
    }
    .container--hero {
        margin: 8.5rem auto 6.4rem;
        width: 540px;
    }
    .supervisor, .team-builder, .karma, .calculator {
        max-width: 350px;
        padding: 3.2rem;
        margin-bottom: 0;
    }
    .segment-heading {
       margin-bottom: .6rem;
    }
    .segment-text {
        margin-bottom: 4rem;
    }
    .team-builder {
        grid-column: 2 / 3; 
        grid-row: 1 / 3;
    }
    .supervisor {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    
    .karma {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
    }
    
    .calculator {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }
}